<a href="#" class="block absolute h-[300px] left-0 bg-no-repeat bg-center w-full bg-[linear-gradient(to_bottom,#FBAB7E_0%,#F7CE68_50%,#fff_100%)] md:bg-[url('https://static.cdnno.com/storage/topbox/11a553603024f692a221fa90342e0abd.jpg')] md:h-[388px]">
</a>

<div class="w-full pt-[50px] md:pt-[250px]">
    <div class="max-w-6xl mx-auto w-full px-2.5">
        <div class="bg-white rounded-md p-5 relative">
            <div class="flex flex-col gap-y-[40px] md:flex-row md:ml-[-30px]">
                <div class="group w-full md:w-[calc(calc(200%/3)-30px)] md:ml-[30px]">
                    <div class="flex justify-between mb-[25px]">
                        <h2 class="text-[#333] text-xl font-semibold inline-block">
                            Biên tập viên đề cử
                        </h2>

                        <a href="#" class="text-[#b78a28] text-[0.9375rem] font-normal self-center">Xem tất cả</a>
                    </div>


                    <div class="flex flex-col gap-y-[10px] lg:flex-row lg:ml-[-30px]">
                        <div class="w-full lg:w-[calc(calc(100%/2)-30px)] lg:ml-[30px]">
                            @*Story Card*@
                            <div class="flex gap-x-3.5 items-start">
                                <a href="#" class="hover:opacity-90 w-[72px] shrink-0">
                                    <img src="https://static.cdnno.com/poster/tro-thanh-thanh-nhan-la-loai-gi-trai-nghiem/150.jpg?1630781816" class="w-full h-auto" />
                                </a>

                                <div>
                                    <h3 class="hover:text-[#b78a28] text-ellipsis line-clamp-1 text-[#333] text-[0.9375rem] font-semibold mb-[8px]">
                                        <a href="#" class="">Trở Thành Thánh Nhân Là Loại Gì Trải Nghiệm</a>
                                    </h3>

                                    <p class="text-ellipsis line-clamp-2 font-normal text-[0.875rem] text-[#666] mb-[8px]">Thiên Vũ Đại Lục một đại truyền kỳ Tần Trần , bởi vì bạn chí cốt phản bội ngoài ý muốn ngã xuống Vũ Vực . Ba trăm năm sau , hắn chuyển kiếp ở một cái nhận hết khi dễ Vương phủ trên thân con tư sinh , lợi dụng kiếp trước tạo nghệ , ngưng Thần Công , luyện Thần Đan , nghịch thiên chi lộ , quật khởi mạnh mẽ , từ đó bước trên một đoạn khiếp sợ đại lục kinh thế hành trình </p>

                                    <div class="flex flex-row justify-between">
                                        <p class="text-[#666] text-[0.9rem]">
                                            <i class="fa-solid fa-user-pen"></i>
                                            Nhâm Ngã Tiếu
                                        </p>

                                        <a href="#" class="text-[#b78a28] text-[0.75rem] border-solid border-[1px] border-[#b78a28] px-[8px]">
                                            Huyền Huyễn
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="w-full lg:w-[calc(calc(100%/2)-30px)] lg:ml-[30px]">
                            <div class="flex gap-x-3.5 items-start">
                                <a href="#" class="hover:opacity-90 w-[72px] shrink-0">
                                    <img src="https://static.cdnno.com/poster/tro-thanh-thanh-nhan-la-loai-gi-trai-nghiem/150.jpg?1630781816" class="w-full h-auto" />
                                </a>

                                <div>
                                    <h3 class="hover:text-[#b78a28] text-ellipsis line-clamp-1 text-[#333] text-[0.9375rem] font-semibold mb-[8px]">
                                        <a href="#" class="">Trở Thành Thánh Nhân Là Loại Gì Trải Nghiệm</a>
                                    </h3>

                                    <p class="text-ellipsis line-clamp-2 font-normal text-[0.875rem] text-[#666] mb-[8px]">Thiên Vũ Đại Lục một đại truyền kỳ Tần Trần , bởi vì bạn chí cốt phản bội ngoài ý muốn ngã xuống Vũ Vực . Ba trăm năm sau , hắn chuyển kiếp ở một cái nhận hết khi dễ Vương phủ trên thân con tư sinh , lợi dụng kiếp trước tạo nghệ , ngưng Thần Công , luyện Thần Đan , nghịch thiên chi lộ , quật khởi mạnh mẽ , từ đó bước trên một đoạn khiếp sợ đại lục kinh thế hành trình </p>

                                    <div class="flex flex-row justify-between">
                                        <p class="text-[#666] text-[0.9rem]">
                                            <i class="fa-solid fa-user-pen"></i>
                                            Nhâm Ngã Tiếu
                                        </p>

                                        <a href="#" class="text-[#b78a28] text-[0.75rem] border-solid border-[1px] border-[#b78a28] px-[8px]">
                                            Huyền Huyễn
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group w-full md:w-[calc(calc(100%/3)-30px)] md:ml-[30px]">
                    <div class="flex justify-between mb-[25px]">
                        <h2 class="text-[#333] text-xl font-semibold">Đang đọc</h2>

                        <a href="#" class="text-[#b78a28] text-[0.9375rem] font-normal self-center">Xem tất cả</a>
                    </div>

                    <div class="flex flex-col gap-y-[10px]">
                        <div class="flex flex-row justify-start items-center gap-x-[16px]">
                            <a href="#" class="hover:opacity-90">
                                <img src="https://static.cdnno.com/poster/kiem-den/150.jpg?1585206081" class="w-[32px] h-auto" />
                            </a>

                            <div class="flex flex-row justify-between grow">
                                <div class="flex flex-col justify-between items-start">
                                    <a href="#" class="grow-0 hover:text-[#b78a28] text-[#333] text-[0.9375rem] font-semibold">
                                        <h3>Kiếm Đến</h3>
                                    </a>

                                    <div class="text-[#6c757d] text-[0.9375rem] font-normal flex flex-row items-center gap-x-[10px]">
                                        <span>Đã đọc: 2</span>
                                        <button class="text-[10px]">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>

                                <a href="#" class="self-center text-[#b78a28] text-[80%]">Đọc tiếp</a>
                            </div>
                        </div>

                        <div class="flex flex-row justify-start items-center gap-x-[16px]">
                            <a href="#" class="hover:opacity-90">
                                <img src="https://static.cdnno.com/poster/kiem-den/150.jpg?1585206081" class="w-[32px] h-auto" />
                            </a>

                            <div class="flex flex-row justify-between grow">
                                <div class="flex flex-col justify-between items-start">
                                    <a href="#" class="grow-0 hover:text-[#b78a28] text-[#333] text-[0.9375rem] font-semibold">
                                        <h3>Kiếm Đến</h3>
                                    </a>

                                    <div class="text-[#6c757d] text-[0.9375rem] font-normal flex flex-row items-center gap-x-[10px]">
                                        <span>Đã đọc: 2</span>
                                        <button class="text-[10px]">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>

                                <a href="#" class="self-center text-[#b78a28] text-[80%]">Đọc tiếp</a>
                            </div>
                        </div>

                        <div class="flex flex-row justify-start items-center gap-x-[16px]">
                            <a href="#" class="hover:opacity-90">
                                <img src="https://static.cdnno.com/poster/kiem-den/150.jpg?1585206081" class="w-[32px] h-auto" />
                            </a>

                            <div class="flex flex-row justify-between grow">
                                <div class="flex flex-col justify-between items-start">
                                    <a href="#" class="grow-0 hover:text-[#b78a28] text-[#333] text-[0.9375rem] font-semibold">
                                        <h3>Kiếm Đến</h3>
                                    </a>

                                    <div class="text-[#6c757d] text-[0.9375rem] font-normal flex flex-row items-center gap-x-[10px]">
                                        <span>Đã đọc: 2</span>
                                        <button class="text-[10px]">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>

                                <a href="#" class="self-center text-[#b78a28] text-[80%]">Đọc tiếp</a>
                            </div>
                        </div>

                        <div class="flex flex-row justify-start items-center gap-x-[16px]">
                            <a href="#" class="hover:opacity-90">
                                <img src="https://static.cdnno.com/poster/kiem-den/150.jpg?1585206081" class="w-[32px] h-auto" />
                            </a>

                            <div class="flex flex-row justify-between grow">
                                <div class="flex flex-col justify-between items-start">
                                    <a href="#" class="grow-0 hover:text-[#b78a28] text-[#333] text-[0.9375rem] font-semibold">
                                        <h3>Kiếm Đến</h3>
                                    </a>

                                    <div class="text-[#6c757d] text-[0.9375rem] font-normal flex flex-row items-center gap-x-[10px]">
                                        <span>Đã đọc: 2</span>
                                        <button class="text-[10px]">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>

                                <a href="#" class="self-center text-[#b78a28] text-[80%]">Đọc tiếp</a>
                            </div>
                        </div>

                        <div class="flex flex-row justify-start items-center gap-x-[16px]">
                            <a href="#" class="hover:opacity-90">
                                <img src="https://static.cdnno.com/poster/kiem-den/150.jpg?1585206081" class="w-[32px] h-auto" />
                            </a>

                            <div class="flex flex-row justify-between grow">
                                <div class="flex flex-col justify-between items-start">
                                    <a href="#" class="grow-0 hover:text-[#b78a28] text-[#333] text-[0.9375rem] font-semibold">
                                        <h3>Kiếm Đến</h3>
                                    </a>

                                    <div class="text-[#6c757d] text-[0.9375rem] font-normal flex flex-row items-center gap-x-[10px]">
                                        <span>Đã đọc: 2</span>
                                        <button class="text-[10px]">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </div>

                                <a href="#" class="self-center text-[#b78a28] text-[80%]">Đọc tiếp</a>
                            </div>
                        </div>
                    </div>

                    <hr class="my-[1.5rem]" />

                    <h2 class="text-[#333] text-xl font-semibold">Hướng dẫn</h2>
                </div>
            </div>


        </div>

        <div class="group">
            <div class="flex justify-start gap-x-[20px] mt-[36px] mb-[1rem]">
                <h2 class="text-[#333] text-xl font-semibold">Mới cập nhật</h2>

                <a href="#" class="text-[#b78a28] text-[0.9375rem] font-normal self-center">Xem tất cả</a>
            </div>

            <div class="border-solid border-t-[1px] w-full">
                <table class="w-full">
                    <tbody>
                        <tr class="even:bg-[#fcfcfa] odd:bg-[transparent] hover:bg-[#fafafa]">
                            <td class="py-[12px]">
                                <p class="text-[#999] text-[0.875rem]">Dã Sử</p>
                            </td>
                            <td class="py-[12px] w-[35%] md:w-[25%]">
                                <a href="#" class="text-[#333] hover:text-[#b78a28] font-semibold text-[0.9375rem] line-clamp-1 text-ellipsis ">Võ Hiệp: Bắt Đầu Long Tượng Bàn Nhược Đại Viên Mãn</a>
                            </td>
                            <td class="py-[12px] w-[35%] md:w-[25%]">
                                <a href="#" class="text-[#333] hover:text-[#b78a28] text-[0.875rem] text-ellipsis line-clamp-1">Chương 1165: Ba nữ quyết định!</a>
                            </td>
                            <td class="py-[12px]">
                                <p class="text-[#333] text-[0.875rem]">Tô Phái</p>
                            </td>
                            <td class="py-[12px] hidden md:block">
                                <p class="text-[#999] text-[0.875rem] text-end">một phút trước</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

